<!-- edit-product-details.component.html -->

<form [formGroup]="productForm" class="container mt-4">
    <div class="form-group row">
      <label for="productId" class="col-sm-2 col-form-label">Product ID:</label>
      <div class="col-sm-10">
        <input type="text" id="productId" class="form-control" formControlName="productId" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="partName" class="col-sm-2 col-form-label">Part Name:</label>
      <div class="col-sm-10">
        <input type="text" id="partName" class="form-control" formControlName="partName">
      </div>
    </div>
    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Price:</label>
      <div class="col-sm-10">
        <input type="text" id="price" class="form-control" formControlName="price">
      </div>
    </div>
    <div class="form-group row">
      <label for="color" class="col-sm-2 col-form-label">Color:</label>
      <div class="col-sm-10">
        <input type="text" id="color" class="form-control" formControlName="color">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-10">
        <textarea id="description" class="form-control" formControlName="description"></textarea>
      </div>
    </div>
  
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="button" class="btn btn-primary" (click)="updateDetails()">Update Details</button>
        </div>
      </div>
  </form>
  