

<div class="container">
  <div class="row" *ngFor="let product of products">
    <div class="col-md-4">
      <div class="product-container border p-3 m-3">

        <h2>{{ product.partName }}</h2>

        <div class="loading-indicator" *ngIf="!product.imagesLoaded">
          Loading images...
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </div>

        <!-- <img [src]="imageData[0]" alt="Test Image" style="width: 100%;" /> -->


      

        <div class="carousel-container">
          <div class="slides" *ngIf="product.imagesLoaded" [style.transform]="'translateX(' + (-currentSlideIndex * 100) + '%)'">
            <div class="slide" *ngFor="let image of imageData">
              <img [src]="image" alt="Product Image" />
            </div>
          </div>
        </div>
        
        <button (click)="prevSlide()">Previous</button>
        <button (click)="nextSlide()">Next</button>
        

        <p>Manufacturer: {{ product.manufacturer }}</p>
        <p>Year: {{ product.year }}</p>
        <p>Condition: {{ product.condition }}</p>
        <p>Price: {{ product.price | currency }}</p>

        <div *ngIf="!cartService.isProductInCart(product)">
          <button (click)="addToCart(product)">Add to Cart</button>
        </div>

        <div *ngIf="cartService.isProductInCart(product)">
          <button (click)="decreaseQuantity(product)">-</button>
          🛒 {{ getQuantityInCart(product) }}
          <button (click)="increaseQuantity(product)">+</button>
        </div>

        <div *ngIf="product">
        
        <a [routerLink]="['/product-details', product.partID]">View Details</a>

        </div>



      </div>
    </div>
  </div>
</div>
