<!-- nav-bar.component.html -->

<nav *ngIf="!isSignUpPage()" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">Home</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewproducts">View Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/categories/bumpers">Bumpers</a>
            <a class="dropdown-item" routerLink="/categories/doors">Doors</a>
            <a class="dropdown-item" routerLink="/categories/electronics">Electronics</a>
            <a class="dropdown-item" routerLink="/categories/engine">Engine</a>
            <a class="dropdown-item" routerLink="/categories/glass">Glass</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  